@import url("https://unpkg.com/css.gg@2.0.0/icons/css/arrow-right.css");

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  /* max-width: 1280px; */
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 9rem;
  padding-right: 9rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 30;
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.div-line {
  background-color: rgb(215, 215, 215);
  padding: 0.1rem;
  height: 1.5rem;
}

ul {
  display: inline-flex;
  justify-content: center;
  gap: 2rem;
}

li {
  list-style: none;
}
.nav-btn {
  display: flex;
  gap: 1.5rem;
  z-index: 10;
}

.log-btn {
  border: none;
  border-radius: 1.5rem;
  padding: 12px;
  width: 5rem;
  font-size: 0.8rem;
  background-color: black;
  color: white;
  z-index: 10;
}
.sign-btn {
  border: none;
  border: none;
  border-radius: 1.5rem;
  padding: 12px;
  width: 5rem;
  font-size: 0.8rem;
  background-color: black;
  color: white;
}

/* section */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding-left: 9rem;
  /* padding-right: 2rem; */
}
.hero-text {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
p,
h1 {
  margin-top: 1.3rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.75;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}
h2 {
  font-size: 12px;
  font-weight: lighter;
}

.profile-header {
  font-size: 1rem;
  line-height: normal;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
  margin-top: 2rem;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1.3rem;
  width: 18rem;
  background-color: black;
  color: white;
}

.profile {
  margin-top: 1.5rem;
  display: flex;
}
.img-profile1,
.img-profile2,
.img-profile3,
.img-profile4,
.img-profile5 {
  height: 3rem;
  border-radius: 4rem;
  width: 3rem;
  filter: brightness(1);
  filter: drop-shadow();
}
.img-profile1 {
  object-fit: cover;
}

.img-profile2 {
  position: relative;
  right: 1rem;
  object-fit: cover;
}
.img-profile3 {
  position: relative;
  right: 2rem;
  object-fit: cover;
}

.img-profile4 {
  position: relative;
  right: 3rem;
  object-fit: cover;
}
.img-profile5 {
  position: relative;
  right: 4rem;
  object-fit: cover;
}

.img-index {
  background-color: black;
  color: white;
  border-radius: 4rem;
  font-size: 1rem;
  padding: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  right: 5rem;
}

.hero-section__image {
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

